$header-height-599:223px;
$header-height-939:500px;
$header-height-1240:500px;
$header-height-plus:500px;
$header-height-half-599:223px;
$header-height-half-939:223px;
$header-height-half-1240:223px;
$header-height-half-plus:223px;
.module{
	clear:none;
}
.block-teaser {
	.card{
		padding:100px;
		border-radius:10px;
		background-size: cover;
		background-position:  center;
	}
	//display:none;
	.layout-content{
	}
	.container-card.container-md.container-sm.container-lg{
		@media #{$bp-desk}{
			padding-left:0px !important;
			padding-right:0px !important;
		}
		@media #{$bp-mobile}{
			padding-left:15px !important;
			padding-right:15px !important;
		}

	}
		.container-teaser.container-fluid.container-lg{
			//margin-right:-15px;
			//width:100% !important;
			//padding-left:0 !important;
			@media #{$bp-tab}{
				padding-left:15px !important;
				padding-right:15px !important;
			}
			@media #{$bp-mobile}{
				padding-left:30px !important;
				padding-right:30px !important;
			}
			@media #{$bp-desk-min}{
				max-width:1200px;
				padding-left:45px !important;
				padding-right:45px !important;
			}
			//overflow:visible;
			.row.slick-slider{
			//	overflow:visible;
			}
		}
		.shadow-teaser{

			.video-btn{
				z-index:12;
				display:inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				text-decoration:none;
				padding:15px; 
				svg{
					fill-opacity:1;
					height:100px;
					width:100px;
				}
			}
			.layout-content {
				line-height:normal;
				display:inline-block;
				width: 100%;
			}
			.bg-image {
				position:relative;
				height:$header-height-plus;
				margin: 0px auto;

				width: 100%;
				//max-width:390px;
				@media #{$bp-tab}{
					max-width:315px;
				}
				@media #{$bp-desk-min}{
					width:390px;
				}

				background-size: cover;
				background-position:  center;
				overflow: hidden;
				.video {
					position: absolute;
					height:100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					width: 100%;
				}
				.img-overlay {
					position: absolute;
					top: 0;
					z-index:9;
				 	margin: 0px auto;
					height:$header-height-plus;
					@teaser only screen and (max-width: 939px) {
						height: calc( #{$header-height-939} );
					 	margin: 0px auto;

					}
					@teaser only screen and (max-width: 599px) {
						height: calc( #{$header-height-599} );
					}
					width: 100%;
					max-width:1220px;

				}
			}

			.teaser-foot-content{
				display:inline-block;
				position:relative;
				width:100%;
				text-align:left;
				.title-wrap{
					display:inline-block;
					.content{
						p{
							color:$inde_white;
							&:last-child{
								margin-bottom:30px;
							}
						}
						color:$inde_white;
					}
					h6{
						margin-bottom:30px;
						color:$inde_white;
					}					
				}
			}

			.img-block-wrap.half-width {
				display: inline-block;
				width: 50%;
				position: relative;

				&:first-of-type {
					border-right: 1px solid #f5f5f5;
				}
				.bg-image {
					@teaser only screen and (max-width: 1400px) {
						height: auto;
						padding-bottom: 100%;
					}
				}
			}
		}
	@media #{$bp-tab} {
		.card{
			padding:55px;
			padding-top:40px;
			.shadow-teaser{
				.teaser-foot-content{
					padding-left:0;
					padding-bottom:40px;
					.shadow-teaser{

					}
				}
			}
		}
	}	

	@media #{$bp-desk} {
		.shadow-teaser{
			.teaser-foot-content{
				padding-left:0;
				padding-bottom:40px;
				.shadow-teaser{

				}
			}
		}
		&:last-child{
			.teaser-foot-content{
				padding-bottom:0;
			}
		}

	}
	@media #{$bp-desk-min}{
		.shadow-teaser{
			&:nth-child(1) {
			    padding-right:40px;
			    padding-left:0;
			}
			&:nth-child(2) {
				padding-left:0;
			    padding-right:40px;
			 }
			&:last-child{
				padding-left:0;
			    padding-right: 0;
			 }

		}

	}
}
.block-teaser{
	.interior-container{
		@teaser only screen and (max-width: 599px) {
			display:block;
			//width:100%;
		}
		.shadow-teaser.half-width{
			margin:15px;

			display:inline-block;
			width: calc(50% - 30px);
			font-size:0;
	//		max-width:587px;
			position:relative;
			top:0;
			height:100%;
			vertical-align:top;
			float:left;
			&._second{
				float:right;
				margin-left:60px;
			}
			@teaser only screen and (max-width: 599px) {
				//margin:0 !important;
				float:none !important;
				display:block;
				width:calc(100%);
				margin-top:60px !important;
				&._second{
					margin-left:0;		
				}
			}
			.bg-image {
				position:relative;
				height:$header-height-half-plus;
			}
			.teaser-foot-content{
				padding-left:0;
				.blue-line{
					height:4px;
					width:60px;
					margin-left:80px;
				}
				.top-bar{
					width:100%;
					height:30px;
					display:block;
					float:none;
				}
				.left-bar{
					display:none;
				}
				.title{
					width:100%;
					text-align:center;
					margin:0 !important;
					padding:0;
					.title-wrap{
						line-height:normal;
						width:100%;
						text-align:center;
						.button-wrapper{
							display:inline-block;
						}
					}
				}

			}
			.teaser-foot-content{
				width:calc(100% - 20px);
				display:block !important;
				.title{
					overflow:hidden;
					width:100%;
				}
			}
		}
	}
	@media #{$bp-mobile} {
		.interior-box{
			max-width:100% !important;
			padding:30px;
			.shadow-teaser{
				padding:0;
				margin:0;

				&.half-width{
					padding:0;
					margin:0;
					width:100% !important;
					margin-bottom:60px;
				}
				.title-wrap{
					padding:30px !important;
					padding-bottom:60px !important;
				}
			}
		}
	}
}