.block-accordion {
    background-color:$inde_white;
    padding-top:100px;
    padding-bottom:100px;
    @include shadow    
    .layout-content{
    }
    .accordion-wrapper {
        .accordion {
            margin-top: 0;
            .last-child{
                border-bottom: 1px solid $inde_lightgray;
            }

            dt {
                border-top: 1px solid $inde_lightgray;
                h5{
                    margin-top:30px;
                }
                .acc-tog{
                    cursor:pointer;
                    margin-top:36px;
                    height:20px;
                    width:20px;
                    line-height:20px;
                    position: relative;
                    float:right;
                    margin-right:25px
                }
                .vertical {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                }

                .horizontal {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                    opacity: 1;
                }
                .horizontal {
 position: absolute;
   background-color: #ccc;
   width: 20px;
   height: 1px;
   left: 50%;
   margin-left: -10px;
   top: 50%;
   margin-top: -1px;
                }
                .vertical {
position: absolute;
   background-color: #ccc;
   width: 1px;
   height: 20px;
   left: 50%;
   margin-left: -1px;
   top: 50%;
   margin-top: -10px;
                }
                &.active{
                    opacity: 1;
                    .vertical {
                        transition: all 0.5s ease-in-out;
                        transform: rotate(90deg);
                    }
                    .horizontal {
                        transition: all 0.5s ease-in-out;
                        transform: rotate(90deg);
                        opacity: 0;
                    }
                }
            }

            dd {
                margin: 0;
                padding-left: 0px;
                padding-right: 0px;
                .content{
                    margin-bottom:30px;
                    p{

                    }
                }        
            }
        }
    }
    @media #{$bp-tab} {
        .accordion-wrapper {
        }
    }
    @media #{$bp-mobile} {
        padding-top:60px;
        padding-bottom:60px;
        .accordion-wrapper {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

