.module{
	clear:none;
}
.block-action {
	.card{
		position:relative;
		padding:100px;
		padding-right:30px;
		padding-left:30px;
		border-radius:10px;
		background-size: cover;
		background-position:  center;
		overflow:hidden;
	}
		.container-action.container-fluid.container-lg{
			@media #{$bp-tab}{
				padding-left:15px !important;
				padding-right:15px !important;
			}
			@media #{$bp-mobile}{
				padding-left:30px !important;
				padding-right:30px !important;
			}
			@media #{$bp-desk-min}{
				max-width:1200px;
				padding-left:45px !important;
				padding-right:45px !important;
			}
			//overflow:visible;
			.row.slick-slider{
			//	overflow:visible;
			}
		}
		.img-overlay{
			position:absolute;
			right:0;
			top:0;
			width: 100%;
			height: 100%;
			display:inline-block;			
			.filter{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
    
			}
		}
		.action-wrapper{
			text-align:center;
			max-width:800px;
			margin:0 auto;
			@media #{$bp-desk-min} {
				padding-left:0 !important;
				padding-right:0 !important;
			}
			.shadow-action{
				margin:0 auto;
				.layout-content {
					line-height:normal;
					display:inline-block;
					width: 100%;
				}
				.action-foot-content{
					display:inline-block;
					position:relative;
					width:100%;
					text-align:center;
					.img-wrap{
						max-width:100%;
						text-align:center;
						height:100%;
						@media #{$bp-desk} {
							margin-bottom:60px;
							text-align:center;
							img{
								max-width:140px;
							}
						}
						img{
							margin:0 auto;
						}
					}
					.title-wrap{
						float:right;
						width:100%;
						text-align:center;
						display:inline-block;
						.content{
							p{
								color:$inde_white;
								&:last-child{
									margin-bottom:40px;
								}
							}
							color:$inde_white;
						}
						h3{
							word-wrap: break-word;
							margin-bottom:40px;
							color:$inde_white;
						}
						.inde-btn{
							float:none;
						}					
					}
					@media #{$bp-desk-min} {
						text-align:left;
						.img-wrap{
							display:inline-block;
							height:100%;
							max-width:140px;
							img{
								width:100%;
							}
						}
						.title-wrap{
							width:calc(100% - 140px);
							padding-left:60px;
							float:right;
							text-align:left;
						}
					}

				}

				.img-block-wrap.half-width {
					display: inline-block;
					width: 50%;
					position: relative;

					&:first-of-type {
						border-right: 1px solid #f5f5f5;
					}
					.bg-image {
						@action only screen and (max-width: 1400px) {
							height: auto;
							padding-bottom: 100%;
						}
					}
				}
			}
		}
}
.block-action{
	@media #{$bp-tab} {
		.card{
			padding:30px;
			padding-top:60px;
			padding-bottom:60px;
			.shadow-action{
				.action-foot-content{
					padding-left:0;
					padding-bottom:40px;
					.shadow-action{

					}
				}
			}
		}
	}
			.shadow-action{
				@media #{$bp-desk} {
					//max-width:800px !important;
				}
				text-align:center;
				.title-wrap{
					text-align:center;
				}
			}
	@media #{$bp-mobile} {
		.inner-container .shadow-action{
			//max-width:285px !important;
		}
	}
	@media #{$bp-desk-min} {
		.card{
		}
	}
}