.block-feature {
	background-color:white;
	@include shadow
	.layout-content{
		padding-bottom:100px;
		padding-top:100px;
		.gc-content{
			.title{
//				padding-bottom:40px; removed 12/16
				border-bottom:solid 1px $inde_lightgray;
			}
			.list-wrapper{
				padding-bottom:30px;
				border-bottom:solid 1px $inde_lightgray;
				padding-top:60px;
				display:inline-block;
				width:100%;
				.list-item{
					width:100%;
					position:relative;
					display:inline-block;
					.li-content{
						padding-left:20px;

						max-width:700px;
						right:0;
						width:calc(100% - 20px);
						float:right;
						display:inline-block;
					}
					.icon{
						float:left;
						height:20px;
						width:20px;
					}
				}
			}
		}
	}
	@media #{$bp-desk} { //max 959px
		.layout-content{
			gc-content{
				.li-content{
					padding-left:20px;
//					max-width:700px;
				}
			}
		}
	}
	@media #{$bp-mobile} { //max 659px
		.layout-content{

			padding-top:60px;
			padding-bottom:60px;
			.gc-content{
				padding-left:15px;
				padding-right:15px;
				.li-content{
					padding-left:20px;
				}
			}
		}
	}
}