$tall_height:948px;
$short_height:771px;
$short_vh : 70vh;
$height : 80vh;
.block-gallery{
	position: relative;
	font-size: 0; // to keep inline-block display of half-width elements correct
	padding-top: 0;
	.layout-content {
		width: 100%;
		.slick-slider{
			overflow:hidden;
			border-radius:10px;
		}
	}
	.img-block-wrap {
		height: $height;
		.gallery-video{
			width:100%;
			height:100%;
			position:relative;
			video{
				width:100%;
			}
		}
	}
		.gallery-container{
			width:100%;
			text-align:center;
			.video-button-inline{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				svg{
					path{
						fill:$inde_yellow;
					}
				}
				&.playing{
					.play{
						display:none;
					}
				}
			}				
		
		a{
			z-index:100;
			svg{
				height:50px;
				width:50px;
			}
		}
	}
	.slick-current{
		.slide-content{
			.lower-content{
				visibility:visible !important;

			}
		}
	}
	  .img-block-wrap{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .bg-image {
	height: $height;
	width: 100%;
	background-position: top center;
	overflow: hidden;
	.video {
	  // should cover entire element
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  z-index: 1;
	  width: 100%;

	}

  }
	.filter {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	.title {
		left:0px;
		width: 100%;
		text-align: center;
		color: white;
		z-index: 100;
		img {
			display: block;
			margin: 0 auto;
		}
		.title-wrap {
			//max-width: 60%;
			margin-left: auto;
			margin-right: auto;
			img.gallery-logo{
				height:50vh;
			}
			.subtitle {
				font-size: 18px;
				margin-bottom: 0px;
				display: block;
			}
			
			&:hover {
				a {
					&::after {
						max-height: 70px;
						-webkit-transition: max-height .5s ease;
						transition: max-height .5s ease;
					}
				}
			}
		}
	}
	.subtitle-wrapper{
		width:50%;
		float:left;
		color:white;
		margin-top:20px;
		.subtitle{
		}
	}
	.nav-wrapper-wrapper{
		position:relative;
		width:50%;
		float:right;
		//background-color:blue;
	//	height:30px;
		margin-top:30px;
		.nav-wrapper{
				float:right;
				text-align:right;
				//margin-top:30px;
				@media #{$bp-tab} {
					float:none;
					display:inline-block;
					//position:absolute;
					right:0;
					height:30px;
					width:100%;
				}
				@media #{$bp-tab-min} {
				}
				.slick-prev,.slick-next{
					display:inline-block;
					position:relative;
					left:auto;
					right:auto;
					margin-top:3px;
				}
				.slick-prev{
					margin-right:15px;
					&:before{
						content: url('/wp-content/themes/pilot/mason-modules/gallery/img/Arrow-Left-Blue.svg');
					}
				}
				.slick-next:before{
					content: url('/wp-content/themes/pilot/mason-modules/gallery/img/Arrow-Right-Blue.svg');
				}


		}
	}
}
	.slick-dots-div{
		bottom:15px;
		width:100%;
		position:absolute;
	}	
	.video-gallery {
		a.video-btn {
			display: block;
			padding: 5px 60px;
			/*border-top: 2px solid white;*/
			display: inline-block;
			position: relative;
			line-height: 45px;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: 0;
			-webkit-transition: max-height .5s ease;
			transition: max-height .5s ease;
			opacity: .5;
			z-index: -1;
		}
		svg {
			width: 44px;
			height: 44px;
			display: inline-block;
			float: left;
			margin: 0 15px 0 0;
		}
	}
}



@media only screen and (max-width: 700px) {
	.block-gallery.caption-area-full-width .bg-image{
		padding-bottom: 0%;
	}
}


	
@media #{$bp-tab} {
	.block-gallery{
		.title{
			.title-wrap{
				img.gallery-logo{
					width:50%;
					height:auto;
				}
			}
		}
		.slick-dots-wrapper{
			padding-right:20px;
			padding-left:20px;
			.col-lg-12{
				padding-left:0 !important;
			}       
		}
		.lower-content{
			.subtitle{
				img{
					display:none;
				}
			}
		}
	}
}
