.block-insta {
	padding-top:0;
	z-index:3;
	position:relative;
	.insta-content{
		color:transparent;
	}
	.container-md.container-sm.container-fluid{
		@media #{$bp-mobile} {
		//	padding-right:0 !important;

		//	padding-left:0 !important;
		}
	}
	.insta-caption{
		font-size:18px;
		line-height:24px;
		color:$inde_blue;
		margin-bottom:12px;
	}
	.instawrap {
		z-index:3;
		display:inline-block;
		width:100%;
	}
	.layout-content{
	}
	.wdi_feed_main_container,.wdi_feed_item,.wdi_front_overlay ,.wdi_photo_wrap,.wdi_feed_wrapper,.wdi_feed_container,.wdi_photo_wrap_inner{
		background-color:transparent !important;
		border-color:transparent !important;
	}
	.wdi_feed_users{
		margin-bottom:30px;
	}
	.wdi_feed_info{
		display:none;
	}
	.wdi_feed_item{
		.wdi_photo_wrap{
			padding-left:0 !important;
			.wdi_photo_wrap_inner{
				border-left:0;
			}
		}
	}
	.wdi_photo_wrap{
		padding-left:15px !important;
		padding-right:15px !important;
	}
	.wdi_user_img_wrap{
		display:none !important;
	}
	.wdi_single_user{
		width:100%;
	}
	.insta-content{
		margin:0px;
		padding:0px;
		p{
			margin-bottom:30px;
			line-height:32px;
		}
	}
	.top-bar{
		display:none;
	}
	.wdi_feed_thumbnail_1 .wdi_photo_wrap{
		padding:0;
	}
	.wdi_feed_item {
		width:calc((100% - 45px)/4) !important;
		padding:0;
		margin-left:7.5px !important;
		margin-right:7.5px !important;
		&:nth-child(1){
			margin-left:0 !important;
		}
		&:nth-child(4){
			margin-right:0 !important;
		}
	}
	@media screen and (max-width: 1024px) and (min-width: 760px){
		.wdi_feed_item {
			width:calc((100% - 45px)/4) !important;
			padding:0;
			margin-left:7.5px !important;
			margin-right:7.5px !important;
			&:nth-child(1){
				margin-left:0 !important;
			}
			&:nth-child(4){
				margin-right:0 !important;
			}
		}
	}
	@media screen and (max-width: 659px){
		.wdi_feed_item {
			width:calc((100% - 5px)/2) !important;
			padding:0;
			margin-left:2.5px !important;
			margin-right:2.5px !important;
			&:nth-child(1){
				margin-left:0 !important;
			}
			&:nth-child(2){
				margin-right:0 !important;
			}
		}

	}
	@media #{$bp-mobile} {
		.wdi_feed_item {
			width:calc((100% - 5px)/2) !important;
			padding:0;
			margin-left:2.5px !important;
			margin-right:2.5px !important;
			&:nth-child(1),&:nth-child(3){
				margin-left:0 !important;
			}
			&:nth-child(2),&:nth-child(4){
				margin-right:0 !important;
			}
			&:nth-child(3),&:nth-child(4){
				margin-top:-10px !important;
			}
		}
		.wdi_layout_th .wdi_shape_portrait .wdi_img, .wdi_layout_th .wdi_shape_square .wdi_img{
			height:100%;
			width:100%;
			object-fit:cover;
		}	
		.wdi_feed_thumbnail_1 .wdi_photo_wrap {
		    padding: 5px;
		    width: calc(100% - 1*5px) !important;
		}			
	}
}