.block-track {
	.card{
		position:relative;
		padding:100px;
		border-radius:10px;
		background-size: cover;
		background-position:  center;
		overflow:hidden;
		text-align:center;
	}
	.container-track.container-fluid.container-lg{
		@media #{$bp-tab}{
			padding-left:15px !important;
			padding-right:15px !important;
		}
		@media #{$bp-mobile}{
			padding-left:30px !important;
			padding-right:30px !important;
		}
		@media #{$bp-desk-min}{
			max-width:1200px;
			padding-left:45px !important;
			padding-right:45px !important;
		}
	}
		.img-overlay{
			position:absolute;
			right:0;
			top:0;
			width: 100%;
			height: 100%;
			display:inline-block;			
			.filter{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
    
			}
		}
		.nav-wrapper-wrapper{
			display:inline-block;
			width:100%;

			text-align:right;
			height:30px;
			position:relative;
			width:100%;
			max-width:100%;
			@media #{$bp-desk} {
				max-width:470px;

			}
			@media #{$bp-tab} {
				max-width:400px;
			}
			@media #{$bp-mobile} {
				max-width:345px;
			}
			.nav-wrapper{
				float:right;
				text-align:right;
				margin-top:-40px;
				@media #{$bp-tab} {
					float:none;
					display:inline-block;
					position:absolute;
					right:0;
					height:30px;
					width:100%;
				}
				@media #{$bp-tab-min} {
					margin-top:-20px;
				}
				.slick-prev,.slick-next{
					display:inline-block;
					position:relative;
					left:auto;
					right:auto;
					margin-top:3px;
				}
				.slick-prev{
					margin-right:15px;
					&:before{
						content: url('/wp-content/themes/pilot/mason-modules/halfhalf/img/Arrow-Left.svg');
					}
				}
				.slick-next:before{
					content: url('/wp-content/themes/pilot/mason-modules/halfhalf/img/Arrow-Right.svg');
				}
			}
		}
		.shadow-track{
			margin:0 auto;
			.layout-content {
				line-height:normal;
				display:inline-block;
				width: 100%;
			}
			.track-foot-content{
				position:relative;
				width:100%;
				text-align:center;
				@media #{$bp-desk-min} {
					text-align:left;
				}
				@media #{$bp-tab} {
				}
				@media #{$bp-mobile} {
				}
				height:100%;
				overflow:hidden;
				margin-right:0 !important;
				margin-left:0 !important;
				.content-wrap{
					height:100%;
					text-align:left;
					padding-left:0 !important;
					padding-right:0 !important;
					.content{
						@media #{$bp-desk-min} {
							max-width:430px;
							float:right;
							position:relative;
							width:100%;
						}
						.cap-wrapper{
							margin-bottom:75px;
							p{
								color:$inde_white;
								&:last-child{
									margin-bottom:30px;
								}
							}					
						}
						h3{
							word-wrap: break-word;
							margin-bottom:40px;
							color:$inde_white;
						}
						.inde-btn{
							@media #{$bp-desk-min} {
								position:absolute;
								bottom:0;
								left:0;
							}
						}				

					}
					@media #{$bp-desk} {
						width:100%;
						max-width:100%;
						margin-top:40px;
						max-width:600px;
					}
					@media #{$bp-tab} {
						max-width:400px;
					}
					@media #{$bp-mobile} {
						max-width:345px;
					}

				}
				.img-wrap{
					padding-left:0 !important;
					padding-right:0 !important;
					max-width:100%;
					img{
						width:100%;
						max-width:100%;
						@media #{$bp-desk} {
							max-width:470px;
						}
						@media #{$bp-tab} {
							max-width:400px;
						}
						@media #{$bp-mobile} {
							max-width:345px;
						}
						@media #{$bp-desk-min} {
							max-width:470px;
						}
					}
				}
				.content-wrap,.img-wrap{
					display:inline-block;
				}
			}

			.img-block-wrap.half-width {
				display: inline-block;
				width: 50%;
				position: relative;

				&:first-of-type {
					border-right: 1px solid #f5f5f5;
				}
				.bg-image {
					@track only screen and (max-width: 1400px) {
						height: auto;
						padding-bottom: 100%;
					}
				}
			}
		}
}
.block-track{
	@media #{$bp-desk} {
		.inner-container .shadow-container{
			max-width:600px !important;
		}
	}

	@media #{$bp-tab} {
		.card{
			padding:60px;
			padding-top:60px;
			padding-bottom:60px;

			.track-foot-content{
				padding-left:0;
			}

		}
		.inner-container{
			.shadow-track{
				max-width:400px !important;
				text-align:center;
				.title-wrap{
					text-align:center;
				}
			}
		}
	}
	@media #{$bp-mobile} {
		.card{
			padding:30px;
			padding-top:30px;
			padding-bottom:30px;
		}
	}

	@media #{$bp-mobile} {
		.inner-container .shadow-track{
			max-width:285px !important;
		}
	}
	@media #{$bp-desk-min} {
		.card{
			padding-top:100px;
			padding-bottom:100px;
		}
	}
}