body{
	.site{
		background-repeat: repeat;
		background-attachment: fixed;
		background-image: url("../../images/INDE-BG-White-1x.png");
		background-image: -webkit-image-set (url("INDE-BG-White-1x.png") 1x, url("INDE-BG-White-2x.png") 2x );	
	}
}
.module {
  clear: both;
  position:relative;
}
.no-gutter{
	padding-left:0;
	padding-right:0;
}

a.inde-btn{
	text-transform:uppercase;
	padding:10px 15px;
	background-color:$inde_yellow;
	float:left;
	border-radius:4px;
	font-family:'bas_bold';
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	color:$inde_blue;
	line-height:16px;
	&:hover{
		background-color:$inde_darkyellow !important;
	}
}
.shadow-card-outer{
//	position:relative;
//	@include shadow
//	z-index:9999;
}
a.inde-link{
	color:$inde_yellow;
	text-transform:uppercase;
	font-family:'bas_bold';
	font-size:14px;
	line-height:16px;
	&:hover{
		color:$inde_white !important;
	}
}
//$mw_lg : 1260px;
//$mw_in_mini: 315px;
//$mw_in_sm: 600px;
//$mw_in_lg: 800px;

.container-fluid{
	//background-color:yellow;
}
.container-md{
	max-width: 800px;  
}
@media #{$bp-desk-min} {
	.container-lg{
		max-width:1260px !important;
	}
}
.container-md.container-sm{
	max-width: 800px;  
	padding-right:15px;
	padding-left:15px;
	@media #{$bp-tab} {
		max-width:600px;
		padding-right:15px;
		padding-left:15px;
	}
}
@media #{$bp-mobile-min} {
	&.container-md.container-sm{
		padding-left:0 !important;
		padding-right:0 !important;
	}
}
@media #{$bp-tab-min} {
	&.container-md.container-sm.container-lg{
		padding-left:0px !important;
		padding-right:0px !important;
	}
}
@media #{$bp-desk-min} {
	&.container-md.container-sm.container-lg{
		max-width:1260px;
		padding-left:30px !important;
		padding-right:30px !important;
	}
}
.container-card{
	@media #{$bp-tab-min} {
		&.container-md.container-sm.container-lg{
			padding-left:15px !important;
			padding-right:15px !important;
		}
	}
	@media #{$bp-desk-min} {
		&.container-md.container-sm.container-lg{
			padding-left:30px !important;
			padding-right:30px !important;
		}
	}
}
.container-lg.container-card{
//	padding-left:45px;
//	padding-right:45px;	
}
@media #{$bp-tab-min} {
	.container,.container-fluid{
		padding-left:30px;
		padding-right:30px;
	}	
}
.gform_wrapper{
    .gfield_label{
        text-spacing:1px;
        font-size:14px;
        line-height:18px;
        font-weight:normal !important;
        color: $inde_darkgray;
    }
    .ginput_container{
        input,textarea{
            border:solid 1px $inde_lightgray;
            border-radius:4px;
        }
    }
	@media #{$bp-tab} {
	    .ginput_container{
	        input,textarea{
	        	&.small,&.medium{
	        		width:100% !important;
	        	}
			}
		}	
	}
    .gform_button{
        padding:10px !important;
        border:0 !important;
        outline:0 !important;
        background-color:$inde_yellow;
        border-radius:4px;
	text-transform:uppercase;
	padding:10px 15px;
	background-color:$inde_yellow;
	float:left;
	border-radius:4px;
	font-family:'bas_bold';
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	color:$inde_blue;    
        &:hover{
			background-color:$inde_darkyellow !important;
            text-decoration: none;
		    transition: .2s;
        }
    }

}
body.menu-scroll{
	padding-bottom:0 !important;
}
.module{
	
}
.layout-content{
	.cap-wrapper,.content, .media-container .subtitle,.card-foot-content .content, .accordion .content,.caption-wrapper .content{

	}
	.gc-content{
		ul{
			list-style-type:none;
			li:before {
			content: '/';
			margin-left: -20px;
			margin-right: 10px;
			}
		}
		hr{
			border-top:solid 1px #cccccc;
		}
	}
}