/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

@mixin default-grid() {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.default-grid {
  @include default-grid();
}

/* This mixin is a solution to avoid the 
   Bootstrap mobile layout with margin, negative
   margin, and padding.  Use this optionally by
   making a breakpoint that is max-layout-size
   plus outer padding, and putting that breakpoint
   to add the right layout. */

@mixin mobile-layout($padding: 20px) {
  @media #{$bp-mobile-padding} {
    padding-left: $padding;
    padding-right: $padding;
  }
}

.padding-top {
  padding-top: $block-padding !important;
}

.padding-bottom {
  padding-bottom: $block-padding !important;
}

.margin-top {
  margin-top: $block-padding !important;
}

.margin-bottom {
  margin-top: $block-padding !important;
}

// Consider using flex instead
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
        transition: transform .3s linear;

  &:hover {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transition: -webkit-transform .15s linear;
              transition: transform .15s linear;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}



// Typography Mixins

@mixin default-font($font-family: $font-1, $font-size: 16px, $line-height: 24px, $color: black){  
  font-family: $font-family;
  font-size: $font-size;
  line-height:$line-height;
  color: $color;
}
.default-font {
  @include default-font();
}

@mixin h2-style($font-family: $font-1, $font-size: 60px, $line-height: 80px, $color: black) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin h3-style($font-family: $font-1, $font-size: 40px, $line-height: 50px, $color: black) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
  font-weight: normal;
}

@mixin h4-style($font-family: $font-2, $font-size: 30px, $line-height: 40px, $color: black) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
}

@mixin h5-style($font-family: $font-2, $font-size: 20px, $line-height: 24px, $color: black) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
  font-weight: bold;
}