@font-face {
	font-family: 'bas_bold';
	src: url('fonts/bold/basiersquare-bold-webfont.eot');
	src: url('fonts/bold/basiersquare-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/bold/basiersquare-bold-webfont.woff2') format('woff2'),
		 url('fonts/bold/basiersquare-bold-webfont.woff') format('woff'),
		 url('fonts/bold/basiersquare-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bas_bolditalic';
	src: url('fonts/bolditalic/basiersquare-bolditalic-webfont.eot');
	src: url('fonts/bolditalic/basiersquare-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/bolditalic/basiersquare-bolditalic-webfont.woff2') format('woff2'),
		 url('fonts/bolditalic/basiersquare-bolditalic-webfont.woff') format('woff'),
		 url('fonts/bolditalic/basiersquare-bolditalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bas_medium';
	src: url('fonts/medium/basiersquare-medium-webfont.eot');
	src: url('fonts/medium/basiersquare-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/medium/basiersquare-medium-webfont.woff2') format('woff2'),
		 url('fonts/medium/basiersquare-medium-webfont.woff') format('woff'),
		 url('fonts/medium/basiersquare-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bas_mediumitalic';
	src: url('fonts/mediumitalic/basiersquare-mediumitalic-webfont.eot');
	src: url('fonts/mediumitalic/basiersquare-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/mediumitalic/basiersquare-mediumitalic-webfont.woff2') format('woff2'),
		 url('fonts/mediumitalic/basiersquare-mediumitalic-webfont.woff') format('woff'),
		 url('fonts/mediumitalic/basiersquare-mediumitalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bas_regular';
	src: url('fonts/regular/basiersquare-regular-webfont.eot');
	src: url('fonts/regular/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/regular/basiersquare-regular-webfont.woff2') format('woff2'),
		 url('fonts/regular/basiersquare-regular-webfont.woff') format('woff'),
		 url('fonts/regular/basiersquare-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bas_italic';
	src: url('fonts/regularitalic/basiersquare-regularitalic-webfont.eot');
	src: url('fonts/regularitalic/basiersquare-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/regularitalic/basiersquare-regularitalic-webfont.woff2') format('woff2'),
		 url('fonts/regularitalic/basiersquare-regularitalic-webfont.woff') format('woff'),
		 url('fonts/regularitalic/basiersquare-regularitalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bas_semibold';
	src: url('fonts/semibold/basiersquare-semibold-webfont.eot');
	src: url('fonts/semibold/basiersquare-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/semibold/basiersquare-semibold-webfont.woff2') format('woff2'),
		 url('fonts/semibold/basiersquare-semibold-webfont.woff') format('woff'),
		 url('fonts/semibold/basiersquare-semibold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bas_semibolditalic';
	src: url('fonts/semibolditalic/basiersquare-semibolditalic-webfont.eot');
	src: url('fonts/semibolditalic/basiersquare-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/semibolditalic/basiersquare-semibolditalic-webfont.woff2') format('woff2'),
		 url('fonts/semibolditalic/basiersquare-semibolditalic-webfont.woff') format('woff'),
		 url('fonts/semibolditalic/basiersquare-semibolditalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
html, body{
	font-family: 'bas_regular';
}

// Copy & Lists 
p {
}

ul li,
ol li {
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
	text-decoration: underline;
	color:$inde_blue !important;
	cursor:pointer;
  }
  &:active, &:focus, &:visited {
	color: inherit;
  }
}
.spec{
	font-size:18px;
	color:#FF00EB;
	padding-bottom:20px;
	border-bottom:solid 1px #707070;
	background-color:#dcdcdc;
	padding-left:20px;
	padding-top:10px;
	&::before{
		content:"^"
	}
}
.spec-desk{
	display:block;
}
.spec-tab{
	display:none;
}

// Headings 
h1,h2,h3,h4,h5,h6{
	font-family: 'bas_regular';
	margin-top:0;
	color:$inde_blue;
	b,strong{
		font-family: 'bas_bold';
		i,em{
			font-family: 'bas_bolditalic';
		}
	}
	i,em{
		font-family: 'bas_italic';
	}
}
h1 {
	font-size:72px;
	line-height:72px;
	margin-bottom:40px;
}	
h2 {
	font-size:60px;
	line-height:60px;
	margin-bottom:40px;
}
h3 {
	font-size:48px;
	line-height:48px;
	margin-bottom:40px;
}
h4 {
	font-size:36px;
	line-height:48px;
	margin-bottom:30px;
}
h5 {
	font-size:24px;
	line-height:36px;
	margin-bottom:30px;
}
h6 {
	font-size:18px;
	line-height:24px;
	margin-bottom:30px;
	text-transform:uppercase;
	font-weight:normal;
}
p{
	font-size:16px;
	line-height:30px;
	color:$inde_darkgray;
	@include pReset
	&.small{
		font-size:14px;
		line-height:24px;	
		//margin-bottom:20px;
	}
	margin-bottom:30px !important;
	b,strong{
		font-family:'bas_bold';
		font-weight:bold;
	}
	i, em{
		font-family:'bas_italic';	
	}
}
i, em{
	font-family:'bas_italic';
}
b,strong{
	font-family:'bas_bold';
	font-weight:bold;
}
.module{
	.layout-content{
		ul,ol, blockquote{
			font-size:16px;
			line-height:30px;
			color:$inde_darkgray;
			li{
				font-size:16px;
				line-height:30px;
				color:$inde_darkgray;
			}
			&.small{
				font-size:16px;
				line-height:30px;
				color:$inde_darkgray;
				li{
					font-size:14px;
					line-height:24px;	
				}
			}
		}
	}
}
@media #{$bp-tab} {
	.spec-desk{
		display:none;
	}
	.spec-tab{
		display:block;
	}
	h1 {
		font-size:48px;
		line-height:48px;
//		margin-bottom:40px;
	}	
	h2 {
		font-size:48px;
		line-height:48px;
//		margin-bottom:40px;
	}
	h3 {
		font-size:36px;
		line-height:40px;
//		margin-bottom:40px;
	}
	h4 {
		font-size:24px;
		line-height:36px;
//		margin-bottom:30px;
	}
	h5 {
		font-size:18px;
		line-height:24px;
//		margin-bottom:30px;
	}
	h6 {
		font-size:18px;
		line-height:24px;
//		margin-bottom:30px;
	}
	p{
		
	}

}
// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
