
// Colors
$inde_blue: #003865;
$inde_yellow: #FFD100;
$inde_darkyellow: #FFB100;
$inde_darkgray: #666666;
$inde_lightgray: #CCCCCC;
$inde_lightlightgray: #999999;
$inde_offwhite: #EBEBEB;
$inde_white: #FFFFFF;
$inde_black: #000000;

// Layout

$block-padding: 2rem;
$element-spacing: 1rem;

// Typography

$font-1: Georgia;
$font-2: Arial, sans-serif;

// Media Queries
$mobile : '659px';
$mobile_min : '660px';
$tab : '959px';
$tab_min : '960px';
$desk : '1258px';
$desk_min : '1259px';

$bp-mobile:	"only screen and (max-width: " $mobile ")";
$bp-mobile-min:	"only screen and (min-width: " $mobile_min ")";
$bp-tab:	"only screen and (max-width: " $tab ")";
$bp-tab-min:	"only screen and (min-width: " $tab_min ")";
$bp-desk:	"only screen and (max-width: " $desk ")";
$bp-desk-min:	"only screen and (min-width: " $desk_min ")";
$bp-desk-lg: "only screen and (max-width: " $desk ")";
$bp-mobile-padding: "only screen and (max-width: " $desk ")"; // $bp-desk-lg + mobile side padding

$mw_lg : 1260px;
$mw_in_mini: 315px;
$mw_in_sm: 600px;
$mw_in_lg: 800px;

@mixin container-lg(){
	max-width: $mw_lg;  
}
@mixin container-md(){
	max-width: $mw_in_lg;  
}

@mixin container-sm(){
	max-width: $mw_in_sm;  
}
@mixin shadow(){
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.08);
}
@mixin ulReset(){
	list-style-type:none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;		
}
@mixin pReset(){
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}