.block-team{
	width: 100%;
	position:relative;
  	h3{
  	}
	.member-shadow{
//		position:relative;
	@include shadow;
		//box-shadow:30px 30px 30px 30px rgba(0,0,0,1);
	}

	.team-section{
		text-align:center;
		margin:0px;
		padding:0px;
		position: relative;
	}
	.team-content-section{
	    vertical-align: top;
	    position: relative;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: top;
	    justify-content: top;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    width: 100%;
  		.member-row{
  		line-height:0;
  			width:100%;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-pack: top;
		    justify-content: top;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
			.popup-content{

				width:100%;
				max-height:0;
				transform: scaleY(0);    
				transform-origin: top;
				transition: transform 0.6s ease;
				margin-left:15px;
				margin-right:15px;
				&.active{
				@include shadow
					margin-bottom:15px;					
					 transform: scaleY(1);
					max-height:100%;
                }
				.popup-wrapper{

					background-color:$inde_white;
					width:100%;
					.content-wrapper{
						padding-top:100px;
						padding-bottom:100px;
						margin:0 auto;
						max-width:800px;
					}
					@media #{$bp-desk} {
						padding-top:60px;
						padding-bottom:60px;
						.content-wrapper{
							margin:0 auto;
							max-width:600px;
						}
					}
					@media #{$bp-tab} {
						padding-top:60px;
						padding-bottom:60px;
						.content-wrapper{
							margin:0 auto;
							max-width:400px;
						}
					}
					@media #{$bp-mobile} {
						padding:30px;
						.content-wrapper{
							max-width:100%;
						}
					}
					text-align:left;
					p{
						margin-bottom:0;
					}
				}

			} 
			&:last-child{
				.member{
					//margin-bottom:0;
				}
			} 		
  		}
  		.member{
//			width: calc(100%/3 - (30px));
//			margin:15px;
			@media #{$bp-tab-min} {
				padding-left:7.5px;
				padding-right:7.5px;
				&:nth-child(2n){
					padding-right:15px;
				}
				&:nth-child(1),&:nth-child(3n){
					padding-left:15px;
				}
			}
			@media #{$bp-desk-min} {
				padding-left:7.5px !important;
				padding-right:7.5px !important;
				&:nth-child(3n){
					padding-right:15px !important;
				}
				&:nth-child(1),&:nth-child(4n){
					padding-left:15px !important;
				}
			}
			margin-top:0;
			 img.in{
			 	height:20px;
			 }
			 .team-block-image{
				width:100%;
				padding:0px;
			 	height:auto;
				float:left;
			 	height:329px;
			 	overflow:hidden;
			 	img{
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
  			 	}
			 }
			.member-content{
				display:inline-block;
				width:100%;
				text-align:left;
				background-color:$inde_blue;
				-moz-transition: background-color .1s ease-in;
				-o-transition: background-color .1s ease-in;
				-webkit-transition: background-color .1s ease-in;
				transition: background-color .1s ease-in;              
				padding:20px;
				@media #{$bp-tab} {			
					.content-wrapper{
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				.member-title,.member-name {
					color:$inde_white;
					text-align: left;
				}
				.member-title{
					min-height:20px;
					font-size:14px;
					line-height:24px;

				}
				h5.member-name {
					margin-bottom:0;
					line-height:35px;
				}
				&:hover{
					cursor:pointer;
				}				
				&:hover,&.active{
					background-color:white;
					.member-title,.member-name {
						color:$inde_blue;
					}
				}
			}
				margin-bottom:15px;
			@media #{$bp-tab} {
				.team-block-image{
					width:200px;
					height:200px;
				}

				.member-content{

					padding:30px;
					height:200px;
					width:calc(100% - 200px);
					display:inline-block;
				}
			}
			@media #{$bp-mobile} {
				.team-block-image{
					width:100px;
					height:100px;
					display:inline-block;
				}
				.member-content{
					height:100px;
					padding:20px;
					width:calc(100% - 100px);
				}
			}

			@media #{$bp-tab-min} {

			}

			&.active{
				.member-content{
					background-color:white;
					color:$inde_blue;
					.member-title,.member-name{
						color:$inde_blue;
					}
					h6{
						color:$inde_blue;
					}
				}
			}
		}
	}

}
