$tall_height:948px;
$short_height:771px;
$short_vh : 70vh;
$height : 80vh;
.block-logo{
	position: relative;
	font-size: 0; // to keep inline-block display of half-width elements correct
	padding-bottom: 0;
	padding-top: 0;
	.layout-content {
		height: $height;
		width: 100%;
	}
	.img-block-wrap {
		height: $height;
	  .logo-video{
		video{
		  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
		}
	  }
	}
	.img-overlay{
		display:inline-block;
		height:100%;
		width:100%;
		.logo-container{
			display:inline-block;
			z-index:100;
			height:100%;
			width:100%;
			margin: 0 auto;
			text-align:center;
			img{
				display:inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				max-width: 100%;
				width:auto;
				transform: translate(-50%,-50%);
			}
		}
	}
	.img-block-wrap{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.bg-image {
		height: $height;
		width: 100%;
		background-position: top center;
		overflow: hidden;
	}
	.filter {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

}