.block-membership {
    .caption{
        margin-top:20px;   
        p.small{
            line-height:20px !important;
        }
    }
    .membership-wrapper {
        @include shadow
        width:100%;
        .membership {
            background-color:$inde_white;
            margin-top: 0;
            width:100%;  
            .title-wrapper {
                display:inline-block;
                width:100%;
                @include shadow;
//                border-top: 1px solid $inde_lightgray;
                padding:30px;
                padding-right:40px;
                .title{
                    display:inline-block;
                    h5{
                        margin:0;
                        line-height:24px;
                    }
                }
                .tog-wrapper{
                    height:100%;
                    position:relative;
                    float:right;
                    margin-top:10px;
                    .acc-tog{
                        height:20px;
                        width:20px;
                        line-height:20px;
                        position: relative;
                        float:right;
                    }
                }
                .vertical {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                }

                .horizontal {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                    opacity: 1;
                }
                .horizontal {
                     position: absolute;
   background-color: #ccc;
   width: 20px;
   height: 1px;
   left: 50%;
   margin-left: -10px;
   top: 50%;
   margin-top: -1px;

                }
                .vertical {
                  position: absolute;
   background-color: #ccc;
   width: 1px;
   height: 20px;
   left: 50%;
   margin-left: -1px;
   top: 50%;
   margin-top: -10px;

                }
                &.active{
                    opacity: 1;
                    .vertical {
                        transition: all 0.5s ease-in-out;
                        transform: rotate(90deg);
                    }
                    .horizontal {
                        transition: all 0.5s ease-in-out;
                        transform: rotate(90deg);
                        opacity: 0;
                    }
                }
            }
            .content {
                z-index:8;
                width:100%;
                margin: 0;
                padding-left: 0px;
                padding-right: 0px;
                padding-top:60px;
                .mem-row{
                    display:inline-block;
                    clear:both;
                    overflow: hidden;
                    position: relative;
                    padding-left:20px;
                    padding-right:20px;
                    width:100%;
                    margin-bottom:30px;
                    &.btn-wrapper{
                        margin-bottom:20px;
                    }
                    .label,.value{
                        width:50%;
                        line-height:20px;
                    }
                    .label{
                        float:left;
                        font-family:'bas_italic';
                        color:$inde_lightlightgray;
                        //background-color:red;
                        padding-right:20px;
                    }
                    .value{
                        letter-spacing:1px;
                        text-transform:uppercase;
                        float:right;
                        font-family:'bas_bold';
                        color:$inde_blue;
                        text-align:right;
                        height:100%;
                        display:inline-block;
                        width: calc(50% - 20px);
                        position: absolute;
                        right: 20px;
                        bottom: 0;
                        .text{
                            position: absolute;
                            right: 0;
                            bottom: 0;

 .check{
  display:inline-block;
  
  &:after{
    content: '';
    display: block;
 
    width: 10px;
    height: 25px;
 
    border: solid $inde_blue;
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(35deg);
  }
}


                        }
                        vertical-align:bottom;
                    }
                    .inde-btn{
                        width:100%;
                    }
                }
            }
        }
    }
    @media #{$bp-desk} {
        .mem-col{
            margin-bottom:15px;
            .membership-wrapper {
            }
        }
    }
    @media #{$bp-mobile} {
        padding-top:60px;
        padding-bottom:60px;
        .membership-wrapper {
  //          padding-left: 30px;
//            padding-right: 30px;
            .membership{
                .content {
                    margin-bottom:20px;
                    .mem-row{
                        padding-left:20px;
                        padding-right:20px;            
                    }
                }
            }
        }
    }
    @media #{$bp-mobile-min} {
        .membership-wrapper {
            .membership{
                .title-wrapper{
                }
                .content {
                    .mem-row{
                        padding-left:30px;
                        padding-right:30px;
                        .value{
                            right:30px;
                        }
                        &.btn-wrapper{
//                            margin-bottom:60px;
                        }
                    }
                }
            }
        }
    }    
    @media #{$bp-tab-min} {
        .mem-col{
            padding-left:0;
            padding-right:0;
        }
    }
    @media #{$bp-desk-min} {
        .mem-col{
            padding-right:7.5px;
            padding-left:7.5px;
            &:nth-child(1){
                padding-left:15px;
            }
            &:nth-child(3){
                padding-right:15px;
            }
            .membership-wrapper {
                .membership{
                    .title-wrapper{
                    }
                    .content {
                        display:inline-block;
                        .mem-row{
                        }
                    }
                    .tog-wrapper{
                        display:none;
                    }
                }
            }
        }
    }    
}

